.row {
  @mixin clearfix;

  &--t-padding {
    padding-top:80px;
  }

  &__gutter {
    margin-right: -65px;
  }

  &--gutters-l {
    margin-right: -100px;
  }

  &--gutters-s {
    margin-right: -45px;
  }

  &__gutter > div {
    padding-right: 65px;
  }

  &--gutters-l > div {
    padding-right:100px;
  }

  &--gutters-s > div {
    padding-right: 45px;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin M{
    &__m-4 {

      &__b-margin-until-medium {
        margin-bottom: 0rem;
      }

      float:left;
      width: 33.33%;
    }

    &__m-4--l {
      width:37%;
    }

    &__m-6 {
      float:left;
      width:50%;
    }

    &__m-8 {
      float: left;
      width: 66.33%;
    }

    &__m-8--s {
      width: 63%;
    }
  }

  /* begin equal height flexbox + modernizr flexbox fix for older browsers */
  /* .flexbox &--equal-height-m */
  &--equal-height-m {
    @mixin M {
      display: flex;
    }
    & > div {
      float: none;
      display: flex;
    }
  }
}
