.section-title {
  font-size: 1.6rem;
  font-weight:300;
  text-align: center;

  @mixin S{
    font-size: 3.6rem;
  }

strong {
  font-weight: 500;
}

&__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  @mixin S {
    margin-right: 1rem;
    margin-left: 0;
    margin-bottom: 0;
    display: inline;
  }
  }
}
